* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: white;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #020617;
    position: sticky;
    top: 0;
}

.logo {
    color: #38bdf8;
}

nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #38bdf8;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
}

.hero-text h1 {
    font-size: 40px;
}

.hero-text span {
    color: #38bdf8;
}

.hero button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: #38bdf8;
    color: black;
    cursor: pointer;
}

.hero img {
    width: 250px;
    border-radius: 50%;
}

/* Sections */
.section {
    padding: 80px 50px;
    text-align: center;
}

/* Projects */
.project-card {
    background: #1e293b;
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}
